.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
  color: purple
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  color: green
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  color: purple
}

.bio {
  text-align: center;
  color: green;
  margin-top: 16px;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  color: red;
  width: 100%;
  margin: 10px 0px 5px 0px;
      }
  
}
